---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Isaac's Portfolio">
	<main>
		<h1 class="text-4xl">What's good? I'm <span class="grad">Isaac Wong</span>.</h1>
		<h2>I like to create stuff.</h2>
	</main>
</Layout>
